@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body{
  background-image: url('https://wallpapercave.com/wp/wp2860892.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  cursor: url(cursor-black.png), auto;
  font-family: 'Press Start 2P', cursive;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  color: #213547;
  text-align: center;
}

#howToPlayContainer{
  display: inline-block;
}

#howToPlayDiv{
  background-image: url('images\textbox.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 300px;
  width: 658px;
  align-self: center;
  margin-top: 25rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

#howToReturn{
  position: absolute;
  bottom: 2rem;
  right: 17.5rem;
  cursor: pointer;
}

#howToReturn:hover{
  color: lightgray;
}


img{
  height: 150px;
  margin-top: 36px;
  user-select: none;
}

#logo{
  margin-top: 18rem;
  width: 25rem;
  height: auto;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
  margin-top: 30rem;
}

h3{
  margin-top: 30px;
  margin-bottom: 5px;
  cursor: pointer;
}

h6{
  font-size: 0.5em;
  text-transform: capitalize;
  margin-top: 60px;
  color: #213547;
  user-select: none;
}

#howToPlay{
  margin-top: 5px;
}

#scoreDisplay{
  margin: 0;
}

#returnh1{
  margin: 0;
}

#gameContainer{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#cardsContainer{
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  max-width: 1280px;
}

#gameOver{
  font-size: 2.8em;
}

.restart{
  font-size: 1.4em;
}

.blinkContainer{
  height: 100%;
  width: 100%;
  z-index: 15;
}

.onHoverWhitecursorPointer{
  cursor: pointer;
}

.onHoverWhitecursorPointer:hover{
  color: white;
}



/* BLINK ANIMATION */
.blinking-correct{
  height: 100%;
  width: 100%;
  animation: correct-blinking 0.3s;
  animation-iteration-count: 3;
  z-index: 10;
}

.blinking-false{
  height: 100%;
  width: 100%;
  animation: false-blinking 0.3s;
  animation-iteration-count: 3;
  z-index: 10;
}

.blinking-startGame{
  animation: startGame-blinking 0.2s;
  animation-iteration-count: 3;
}
@keyframes correct-blinking {
  0% {
    background-color: white;

  }
  100% {
    background-color:lightgreen

  }
}

@keyframes false-blinking {
  0% {
    background-color: white;

  }
  100% {
    background-color:crimson

  }
}

@keyframes startGame-blinking {
  0% {
    color: #213547;;

  }
  100% {
    color:white

  }
}

/* CARDFLIP */
.scene {
  display: inline-block;
  height:350px;
  width:250px;
/*   border: 1px solid #CCC; */
  perspective: 600px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  backface-visibility: hidden;
}

.card__face--front {
  background-image: url('card-template.png');
  background-size: 100% 100%;
  height:350px;
  width:250px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  cursor: url(pokeball.png), pointer;
}

.card__face--back {
  height:350px;
  width:250px;
  background-size: 100% 100%;
  background-image: url('card-back.png');
  display: flex;
  justify-content: center;
  transform: rotateY(180deg);
}


/* START SCREEN ON HOVER */

#startScreen{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#startButtonsContainer{
  width: fit-content;
  align-self: center;
  margin-left: 45px;
}

.startScreenButton {
  background-color: transparent;
  position: relative;
  border: 0;
  text-align: left;
}

.startScreenButton:focus,
.startScreenButton:active {
  outline: 0;
}

.startScreenButton:hover {
  color: white;
}

.startScreenButton:hover::before,
.startScreenButton:focus::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -20px;
  width: 2px;
  height: 2px;
  font-size: 2px;
  box-shadow: 1em 0em 0 #181010, 2em 0em 0 #181010, 1em 1em 0 #181010,
    2em 1em 0 #181010, 3em 1em 0 #181010, 1em 2em 0 #181010, 2em 2em 0 #181010,
    3em 2em 0 #181010, 4em 2em 0 #181010, 1em 3em 0 #181010, 2em 3em 0 #181010,
    3em 3em 0 #181010, 4em 3em 0 #181010, 5em 3em 0 #181010, 1em 4em 0 #181010,
    2em 4em 0 #181010, 3em 4em 0 #181010, 4em 4em 0 #181010, 1em 5em 0 #181010,
    2em 5em 0 #181010, 3em 5em 0 #181010, 1em 6em 0 #181010, 2em 6em 0 #181010;
}